@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*,
*::before,
*::after{
	box-sizing: border-box;
}
/* custom  properties, update these for your own design */

.navigation
{
  display: flex;
  font-family: var(--ff-third);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.navigation ul
{
  position: relative;
}
.navigation ul li
{
   font-family: var(--ff-third);
  text-align:center;
  list-style: none;
}
.navigation ul li a
{
   font-family: var(--ff-third);
  color: #FBFCFD;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
.navigation ul li:hover li a
{
  color: #0002;
}
.navigation ul li:hover a
{
  color: #000;
  background: #fff;
}
.navigation ul li a:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0,0,0,.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s;

}
.navigation ul li a:hover:before
{
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
.navigation ul li:nth-child(6n+1) a:before
{
  background: #81ecec;
}
.navigation ul li:nth-child(6n+2) a:before
{
  background: #ff7675;
}
.navigation ul li:nth-child(6n+3) a:before
{
  background: #55efc4;
}
.navigation ul li:nth-child(6n+4) a:before
{
  background: #a29bfe;
}
.navigation ul li:nth-child(6n+5) a:before
{
  background: #fd79a8;
}
.navigation ul li:nth-child(6n+6) a:before
{
  background: #ffeaa7;
}






:root{
	--ff-primary:'Lora', serif;
	--ff-secondary:'Roboto slab', serif;
	--ff-third:'Poppins',sans-serif;

	--fw-reg: 400;
	--fw-bold: 700;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;
	--clr-black: #000000;
	--clr-maroon: #171E2C;
	--clr-red: #F01313;
	--clr-white: #FBFCFD;
	--clr-yellow: #FFC300;

	--fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 
         0.25em 0.25em 0.75em rbga(0,0,0,0.25),
         0.125em 0.125em 0.25em rbga(0,0,0,.15);
}

@media(min-width: 800px ){
	
		 :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
     }
   }

   /* General styles */
   

html {
	scroll-behavior: smooth;
}


   body{
   	background: var(--clr-maroon);
   	color: var(--clr-light);
   	margin: 0;
   	font-family: var(--ff-primary);
   	font-size: var(--fs-body);
   	line-height: 1.6;
   }
     
   section{
     	padding: 5em 2em;
     }  

   img{
   	display: block;
   	max-width: 100%;
   }

    strong{ font-weight: var(--fw-bold) }

:focus{
	outline:3px solid var(--clr-accent);
	outline-offset: 3px;
}

/*button*/

.btn_2 {

 margin-top: 5%;
 display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-light);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;

}


.btn {   
	margin-top: 6%;
 	display: inline-block;
 	padding: .5em 2.5em;
 	background: var(--clr-light);
 	color: var(--clr-dark);
 	text-decoration: none;
 	cursor: pointer;
 	font-size: .8rem;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	font-weight: var(--fw-bold);
 	transition: transform 200ms ease-in-out;
 }

.btn:hover{
	color: #fff; 
        background: #16e0bd;
        box-shadow: 0 0 10px #16e0bd, 0 0 40px #16e0bd, 0 0 80px #16e0bd;
        transition-delay: .1s;
	transform: scale(1.1);
}
.btn_2:hover{
  color: #fff; 
  background: #16e0bd;
  box-shadow: 0 0 10px #16e0bd, 0 0 40px #16e0bd, 0 0 80px #16e0bd;
  transition-delay: .1s;

  transform: scale(1.1);
}
   

   /* Typography */
   
   h1,
   h2,
   h3{
   	   line-height: 1;
   	   margin: 0;
   }

   h1{ font-size: var(--fs-h1)  }
   h2{ font-size: var(--fs-h2)  }
   h3{ font-size: var(--fs-h3)  }

   .section__title{
   	margin-bottom: .25em;

   }
 .section__title--intro{
 	font-weight: var(--fw-reg);
 }
  .section__title--intro strong{
 	display: block;
 }
   .section__subtitle{
   	 margin: 0;
   	 font-size: var(--fs-h3);
   }

   .section__subtitle--intro,
   .section__subtitle--about{
     color: var(--clr-black);

   	 background: var(--clr-yellow);
   	 padding: .25em 1em;
   	 font-family: var(--ff-secondary);
     margin-bottom: 1em;
   }
.section__subtitle--work{
	color: var(--clr-accent);
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}



   /*header*/
  header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-black);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-yellow);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}






.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-yellow);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


   


   /*Intro section*/

   .intro{
   	position: relative;
   }

   .intro__img{
   	box-shadow: var()
   }
   .section__subtitle--intro{
   	display: inline-block;
   }

   @media(min-width: 600px){
   	.intro{
   		display: grid;
   		width: min-content;
   		margin: 0 auto;
   		grid-column-gap: 1em; 
   		grid-template-areas:
   		 "img title"
   		 "img subtitle";
   		 grid-template-columns: min-content max-content; 
   	}
   
.intro__img{
	grid-area: img;
	min-width: 250px;
	position: relative;
	z-index: 2;
}

.section__subtitle--intro{
	align-self: start;
	grid-column: -1/1;
	grid-row: 2;
	text-align: right;
	position: relative;
	left: -1.5em;
	width: calc(100% + 1.5em);
}

   }

   /*about me*/
   .about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}
/* resume section*/
.my-Resume{
	background-color: var(--clr-dark);
	background-image: url(img3.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	color: var(--clr-light);
	text-align: center;

}

.section__title--Resume{
	color:var(--clr-accent);
	position: relative;
}

.section__title--Resume::after{
	content: '';
	display: block;
	width: 2em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--clr-light);
    opacity: 0.25;

}

.Resume{
	margin-bottom: 4em;
}

.Resumes{
	max-width: 500px;
	margin: 0 auto;
}

@media(min-width: 800px){
	.Resume{
		display: flex;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.Resumes + .Resumes{
		margin-left: 2em;
	}
}

.c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .box
{
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container:hover .box
{
  opacity: 0.1;
  transform: scale(0.9);
  filter: blur(5px);
}
.container .box:hover
{
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}
.container .box:before
{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: url(#wavy);
}
.container .box:nth-child(1):before
{
  background: #16e0bd;
}
.container .box:nth-child(2):before
{
  background: #fff;
}
.container .box:nth-child(3):before
{
  background: #16e0bd;
}
.container .box .content
{
  position: absolute;
  padding: 20px;
  text-align: center;
  color: #111;
  transition: 0.5s;
}
.container .box .content h2
{
  font-size: 2em;
  margin-bottom: -10px;
}
svg
{
  width: 0;
  height: 0;
}
/*My work */
.my-work{
	background-color: var(--clr-black);

	
	color: var(--clr-light);
	text-align: center;
}

.portfolio{
	display: grid;
	grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
}

.portfolio__item{
	background: var(--clr-accent);
	overflow: hidden;
}

.portfolio__img{
	transition: 
	      transform 750ms cubic-bezier(.5,0,.5,1),
	      opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
	transform: scale(1.2);
	opacity: .8;
}


/*skills*/
.section__title--Skills{

	text-align: center;

}
.Skills{
	 color: var(--clr-light);
	text-align: center;
	font-size: var(--fs-h4);

}


/*.Skills{
	background-color: var(--clr-dark);
	background-image: url(F:/web_dev/portfolio/img4.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	color: var(--clr-light);
	text-align: center;

}*/

/*footer*/

.footer {
  align-items: center;
  justify-content: center;
    background:  #171E2C;
    color: var(--clr-dark);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}
.footer .box
{
  margin:auto;

  position: relative;
  width: 200px;
  height: 50px;
  background:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  

 
  }
 
.footer__link {
  position: relative;
  align-content: center;
  color: var(--clr-white);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .9;
   ;
}

.footer__link:hover {
    text-decoration: underline;
     color: var(--clr-accent);
}


.footer ul
{
  position: absolute;
  
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  }
.footer ul li
{
  list-style: none;
 
}
.footer ul li a .fa
{
   width: 100%;
   height: 100%;
   display: block;
   background:linear-gradient(0deg,#fff,#ddd);
   border-radius: 50%;
   line-height: calc(60px - 12px);
   font-size: 24px;
   color: #262626;
   transition: .5s;   

}
.footer ul li a
{
position: relative;
width: 60px;
height: 60px;
display: block;
text-align: center;
margin: 0 10px;
border-radius: 50%;
padding: 6px;
box-sizing: border-box;
text-decoration: none;
box-shadow: 0 10px 15px rgba(0,0,0,0.3); 
background:linear-gradient(0deg,#ddd,#fff);
transition: .5s; 
}
ul li:nth-child(1) a:hover .fa
{
  color:#000;
}
ul li:nth-child(2) a:hover .fa
{
  color:#0077B5;
}
ul li:nth-child(3) a:hover .fa
{
  color:#55acee;
}
ul li:nth-child(4) a:hover .fa
{
  color:#c32aa3;
}
/*individual portfolio item styles */

 .portfolio-item-individual{
 	max-width: 600px;
 	margin-left: auto;
 	margin-right: auto;
 }
